<!DOCTYPE html>
<html>
    <head>
        <title>Imágenes</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>

        <aside>
            <h1>Ejemplo de imágenes</h1>
            <p>Uso de imágenes dentro de una página HTML.</p>
        </aside>

        <section>
            <h2>Imagen local</h2>
            <img src="/img/lunes.jpg" width="300" alt="Imagen local"/>

            <h2>Imagen externa</h2>
            <img src="https://www.record.com.mx/sites/default/files/articulos/2023/03/30/hennessey_venom_f5_roadster-6.jpg"
                 width="300"
                 alt="Imagen externa"/>
        </section>

        <footer>
            Todos los Derechos Reservados TiendaNattScholz 2026 &COPY;
        </footer>
    </body>
</html>
