<!DOCTYPE html>
<html>
    <head>
        <title>iFrames</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>iFrames</h1>
        </header>

        <p>Uso de iframes dentro de nuestro sitio web.</p>

        <section>
            <article>
                <h3>YouTube</h3>
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/yGeNHI47vzA"
                        title="Video de YouTube"
                        allowfullscreen>
                </iframe>
            </article>

            <article>
                <h3>Mapa</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18"
                        width="600"
                        height="450"
                        allowfullscreen>
                </iframe>
            </article>
        </section>

        <footer>
            Todos los Derechos Reservados TiendaNattScholz 2026 &COPY;
        </footer>
    </body>
</html>