<!DOCTYPE html>
<html>
    <head>
        <title>Multimedia</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Multimedia</h1>
        </header>

        <aside>
            <h1>Multimedia</h1>
            <p>Incorporación de recursos multimedia en el sitio web.</p>
        </aside>

        <section>
            <h2>Uso de Multimedia</h2>

            <article>
                <h3>Audio</h3>
                <audio controls>
                    <source src="/audios/musica.mp3" type="audio/mpeg"/>
                    El navegador no soporta la etiqueta de audio.
                </audio>
            </article>

            <article>
                <h3>Video</h3>
                <video width="320" height="240" controls>
                    <source src="/videos/torpedo.mp4" type="video/mp4"/>
                    El navegador no soporta la etiqueta de video.
                </video>
            </article>
        </section>

        <footer>
            Todos los Derechos Reservados TiendaNattScholz 2026 &COPY;
        </footer>
    </body>
</html>
